.calculator {
    display: grid;
    grid-template-columns: 25rem 1fr;
    background-color: #f2fbfe;
    border-radius: 0.5rem;
    padding: 2rem;
    border: 1px solid #9da1ca;
}

.calculator__form {
    display: flex;
    flex-direction: column;
}

.calculator__form input,
.calculator__form button {
    width: 15rem;
}


.calculator__form input,
.calculator__form button {
    margin-bottom: 1.5rem;
}